:root {
    // --primColor: #1db31d; 
    
    --primHover: #018a4e;
    --primColor:#03af65;
    --secColor: #0066ff;
    --white: #fcfbfb;
    --whiteHover:#d1d1d1;
    --textcolor: #445d7a;
    --shadow: rgba(20, 20, 10, 0.2) 0px 5px 10px;
    --shadowLight: rgba(20, 20, 10, 0.2) 0px 1px 3px;

    --defaultsize:1rem;
    --secText:0.9rem;
  }