// FEATURED PACKAGES //
.featured_wrapper {
  width: 100%;
  min-height: 100vh !important;
  //background-image: url("../../assets/images/bg3.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: rgb(240, 240, 240);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  margin: 2rem 0 !important;
 }
.heading {
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: var(--textcolor);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2rem;
  }

  .line {
    width: 60%;
    height: 2px;
    margin: 3px 0;
    background: var(--primColor);
  }
  p {
    font-size: 14px;
    color: var(--textcolor);
    text-transform: capitalize ;
  }
}

.cards-wrapper {
  width: 100% !important;
  overflow: hidden !important;
  outline: none !important;

  .card {
    min-width: 300px !important;
    height: 70vh !important;
    background: transparent;
    outline: none !important;
    padding: 0 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;

    .img {
      width: 100% !important;
      height: 100% !important;
      //  border-radius: 20px 20px 0 0;
      border-radius: 20px;
      overflow: hidden !important;
     }
  }
}

.package-details {
  width: 95%;
  background: var(--white);
  // border-radius:0 0 20px 20px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  position: relative !important;
  padding: 20px;
  color: var(--textcolor);
  top: -7%;

  .pkg_name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primColor) !important;
    text-transform: capitalize;
  }
  .location_duration {
    .pkg_location,
    .pkg_duration {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }
    span {
      font-size: 14px;
      margin-left: 3px;
    }
  }

  .pkg_price {
    margin-top: 5px;
    p {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    span {
      font-size: 1.8rem;
      color: var(--primColor);
      font-weight: 600;
      line-height: 0 !important;
    }
  }

  .btns-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;

    .btn {
      padding: 4px 12px !important;
      font-size: 14px;
      border-radius: 20px;
      text-transform: capitalize;
      background: var(--primColor);
      border: none;
      outline: none;
      color: var(--white);
      border: 1px solid var(--primColor);
      transition: all ease-in 0.5s;
    }

    .details_btn {
      margin: 0 5px;
      background: none;
      border: 1px solid var(--primColor);
      color: var(--textcolor);
      &:hover {
        background: var(--primColor);
        color: var(--white);
      }
    }

    .Book_btn {
      &:hover {
        background: none;
        border: 1px solid var(--primColor);
        color: var(--textcolor);
      }
    }
  }
}

a{
  text-decoration: none !important;
}